
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Styles/rest.css" rel="stylesheet" />
    <link href="~/Styles/RepairDetails.css" rel="stylesheet" />
    <link href="~/Styles/star-rating.css" rel="stylesheet" />
    <link href="~/Styles/footer.css" rel="stylesheet" />
    <style type="text/css">
        .demos input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            color: #ccc;
        }

        .demos input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            color: #ccc;
        }

        .state {
            background-color: #f3f4ef;
            padding: 0 20px;
        }

        .Ani li {
            top: 45px;
        }

        .state-box {
            height: 83px;
            background-color: white;
            padding-top: 22px;
            padding-left: 35px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .list-bottom {
            padding: 15px 15px 15px;
            background-color: white;
            overflow: hidden;
        }

        .bg-box {
            box-shadow: 2px 2px 5px 0px #555353;
            margin-top: 6px;
            border-radius: 5px;
            overflow: hidden;
        }

        .state-box-l {
            float: left;
            display: block;
            width: 28px;
            height: 28px;
        }

        .state-box-r {
            padding-left: 40px;
        }

            .state-box-r p:nth-child(1) {
                font-size: 18px;
                color: #333;
            }

            .state-box-r p:nth-child(3) {
                font-size: 12px;
                color: #333;
            }

            .state-box-r p:nth-child(4) {
                font-size: 14px;
                color: #333;
            }

            .state-box-r p:nth-child(2) {
                font-size: 12px;
                color: #9c9c9c;
            }

        .state-box-l img {
            width: 100%;
            height: 100%;
            margin-top: 6px;
        }

        .Ani li:nth-child(2) {
            left: 35%;
        }

        .Ani li:nth-child(1) {
            left: 18%;
        }

        .Ani li:nth-child(3) {
            left: 55%;
        }

        .Ani li:nth-child(4) {
            right: 17%;
        }

        .indent-title {
            padding: 6px 0px 14px;
        }

        /*.informant-title {
            margin-bottom: 10px;
        }*/

        .informant .informant-title p {
            line-height: 45px;
            color: #333;
        }

        .silmebr {
            display: block;
            border-top: 1px solid #ddd;
            transform: scale(1,0.5);
            -webkit-transform: scale(1,0.5);
        }

        .top-content {
            padding-top: 10px;
        }

        #smil {
            text-align: left;
        }

            #smil .rating-sm {
                font-size: 1em;
            }

        .choose .service li {
            color: #1ec462;
            border: 0px;
        }
    </style>

}
@if (ViewBag.RepairDetail.Status != DoShineMP.Models.RepairStatus.FinishHandle)
{
    <div class="keep-list">
        <div class="keep-list-in">
            <div class="list-bottom" style="background-color:#318fe7; margin-top:0;">
                <div class="bg-box">
                    <div class="state-box">
                       @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Apply)
                       {
                        <div class="state-box-l"><img src="~/Images/40x40/commit.png" /></div>
                        <div class="state-box-r">
                            <p>订单已提交</p>
                            <p>我们会尽快处理您的订单</p>
                        </div>
                       }
                       else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Accept)
                       {
                        <div class="state-box-l"><img src="~/Images/40x40/shouli.png" /></div>
                        <div class="state-box-r">
                            <p>订单已受理</p>
                            <p>将于 @ViewBag.RepairDetail.ExceptHandleDate 前上门服务</p>
                        </div>
                       }
                       else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.FinishHandle)
                       {
                        <div class="state-box-l"><img src="~/Images/40x40/queren.png" /></div>
                        <div class="state-box-r">
                            <p>订单待确认</p>
                            <p>该订单已完成，等待用户评价</p>
                        </div>
                       }
                       else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Finish)
                       {
                            <div class="state-box-l"><img src="~/Images/40x40/finish.png" /></div>
                            <div class="state-box-r">
                                <p>订单已完成</p>
                                <div class="keep-textarea" style="padding:0;" id="smil">
                                    <input id="input-21d" value="@ViewBag.RepairDetail.Score" type="number" class="rating" min=0 max=5 step=1 data-size="sm" disabled="disabled" style="font-size: 1em;">
                                </div>
                            </div>
                        }
                        else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Cancel)
                        {
                            <div class="state-box-l"><img src="~/Images/40x40/cancle.png" /></div>
                            <div class="state-box-r">
                                <p>订单已取消</p>
                                <p>抱歉，您的订单已取消</p>
                            </div>
                        }
                    </div>
                    <div class="state">
                        @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Apply)
                        {
                            <div class="state-in">
                                <ul class="state-ul">
                                    <li class="current"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                <span class="line"></span>
                                <span class="line-current"></span>
                            </div>
                            <ul class="state-time Ani">
                                <li class="current">提交</li>
                                <li>受理</li>
                                <li>确认</li>
                                <li>完成</li>
                            </ul>
                        }
                        else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Accept)
                        {
                            <div class="state-in">
                                <ul class="state-ul">
                                    <li class="current"></li>
                                    <li class="current"></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                <span class="line"></span>
                                <span class="line-current left-one"></span>
                            </div>
                            <ul class="state-time Ani">
                                <li class="current">提交</li>
                                <li class="current">受理</li>
                                <li>确认</li>
                                <li>完成</li>
                            </ul>
                        }
                        else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.FinishHandle)
                        {
                            <div class="state-in">
                                <ul class="state-ul">
                                    <li class="current"></li>
                                    <li class="current"></li>
                                    <li class="current"></li>
                                    <li></li>
                                </ul>
                                <span class="line"></span>
                                <span class="line-current left-two"></span>
                            </div>
                            <ul class="state-time Ani">
                                <li class="current">提交</li>
                                <li class="current">受理</li>
                                <li class="current">确认</li>
                                <li>完成</li>
                            </ul>
                        }
                        else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Finish)
                        {
                            <div class="state-in">
                                <ul class="state-ul">
                                    <li class="current"></li>
                                    <li class="current"></li>
                                    <li class="current"></li>
                                    <li class="current"></li>
                                </ul>
                                <span class="line"></span>
                                <span class="line-current left-two"></span>
                            </div>
                            <ul class="state-time Ani">
                                <li class="current">提交</li>
                                <li class="current">受理</li>
                                <li class="current">确认</li>
                                <li class="current">完成</li>
                            </ul>
                        }
                        else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Cancel)
                        {
                            <div class="state-in">
                                <ul class="state-ul">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li class="quxiao" style="background-image:url(../../doshinemp/Images/quxiao.jpg)"></li>
                                </ul>
                                <span class="line"></span>
                                <span class=""></span>
                            </div>
                            <ul class="state-time Ani">
                                <li>提交</li>
                                <li>受理</li>
                                <li>确认</li>
                                <li style="color:#f1514e;">取消</li>
                            </ul>
                        }
                    </div>
                </div>
            </div>

            @* 取消原因 *@
            @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Cancel)
            {
                if (ViewBag.RepairDetail.Response != null && ViewBag.RepairDetail.Response != "")
                {
                    <div class="list-top " style="margin:10px 0px">
                        <div class="nodal-c-title"><p class="text-left ">取消原因</p><p class="text-right" style="color:#a8a8a8;"></p></div>
                        <ins class="silmebr"></ins>
                        <div class="" style="padding-top:15px;">
                            <p style="font-size:14px;">@ViewBag.RepairDetail.Response</p>
                        </div>
                    </div>
                }
            }

            @*维修反馈*@
            @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.FinishHandle || ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.Finish)
            {
                <div class="choose ">
                    <div style="position:relative;">
                        <h4>维修结果</h4>
                        <ins class="silmebr"></ins>
                        <ul class="service" id="RepairFinishTypeid" style="border:none;padding-bottom:0;position:absolute;top:5px;right:-15px;">
                            @if (ViewBag.RepairDetail.FinishType == DoShineMP.Models.RepairFinishType.Fixed)
                            {
                                <li class="" typeid="Fixed">已修复</li>
                            }
                            else if (ViewBag.RepairDetail.FinishType == DoShineMP.Models.RepairFinishType.Unfixed)
                            {
                                <li class="" typeid="Unfixed">未修复</li>
                            }
                            else if (ViewBag.RepairDetail.FinishType == DoShineMP.Models.RepairFinishType.OutOfRange)
                            {
                                <li class="" typeid="OutOfRange">不属于维保范围</li>
                            }
                        </ul>
                    </div>
                    <div class="choose-title">
                        @if (ViewBag.RepairDetail.Describe != null && ViewBag.RepairDetail.Describe != "")
                    {
                            <p class="back-content">
                                @ViewBag.RepairDetail.Describe
                            </p>
                        }
                        @if (ViewBag.RepairDetail.FinishImageFiles != null)
                    {
                            <div class="choose-photo" id="choose-photo">
                                @foreach (DoShineMP.Models.ImageFile i in ViewBag.RepairDetail.FinishImageFiles as List<DoShineMP.Models.ImageFile>)
                                {
                                    <img src="@System.Configuration.ConfigurationManager.AppSettings["httpimgpath"]@i.FileName" class="imgyulan" />
                                }
                            </div>
                        }
                    </div>
                </div>
            }
            @* 订单消息 *@
            <div class="list-top">
                <p class="indent-title">订单信息</p>
                <ins class="silmebr"></ins>
                @*<div class="top-title">
                        <span>报修日期：</span>
                        <em>@ViewBag.RepairDetail.CreateDate</em>
                    </div>*@
                <div class="top-content">
                    <p>@(new MvcHtmlString(ViewBag.RepairDetail.Contenet))</p>
                    @if (ViewBag.RepairDetail.ImageFiles != null)
                {
                        <div class="img-content">
                            @foreach (DoShineMP.Models.ImageFile I in ViewBag.RepairDetail.ImageFiles as List<DoShineMP.Models.ImageFile>)
                            {

                                <img src="@System.Configuration.ConfigurationManager.AppSettings["httpimgpath"]@I.FileName" class="imgyulan" />

                            }
                        </div>
                    }
                </div>
            </div>


            @*个人信息*@
            <div class="informant">
                <div class="informant-title">
                    <p>个人信息</p>
                    <ins class="silmebr" style="margin-bottom:10px;"></ins>
                </div>
                <p><span>手机号码：</span><a href="tel:@ViewBag.RepairDetail.PhoneNumber">@ViewBag.RepairDetail.PhoneNumber</a></p>
                @if (ViewBag.RepairDetail.Name != null)
                {
                    <p><span>申请客户：</span>@ViewBag.RepairDetail.Name </p>
                }
                else
                {
                    <p><span>申请客户：</span> </p>
                }
                <p><span>报修时间：</span>@(ViewBag.RepairDetail.CreateDate != null ? ViewBag.RepairDetail.CreateDate : "")</p>
                <p><span>客户地址：</span>@(ViewBag.RepairDetail.Village.Name != null ? ViewBag.RepairDetail.Village.Name : "")</p>
                <p><span>订单号码：</span>@(ViewBag.RepairDetail.InnerNumber != null ? ViewBag.RepairDetail.InnerNumber : "")</p>
            </div>

        </div>
    </div>

    <div class="footer" style="margin-top:-10px;">
        <p><img src="~/Images/40x40/logo40.png" style="margin-bottom:10px;" /></p>
        <p class="service">Powered By Doshine.com</p>
    </div>

}
else if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.FinishHandle)
{
    <div style="background:rgba(0,0,0,0.5);min-height:100%;" id="modaldiv">
        <div class="modal fade in" id="myModal" style="display:block;position:relative;">
            <div class="modal-dialog" style="display:block;position:relative;margin-top:15px;margin-bottom:15px;">
                <div class="modal-content">
                    <div class="modal-header ">
                        <div class="modal-title" style="padding:0px 0px">
                            <div class="modal-left">
                                <div class="modal-l-top"><img src="~/Images/40x40/finish.png" /><p>报修已完成</p></div>
                                <p class="modal-tips" style="font-size:13px;">@ViewBag.RepairDetail.CreateDate</p>
                            </div>
                            <div class="modal-right">
                                <a class="time-href" href="@Url.Action("MessagePartent","PhoneWeb")" style="padding:6px 10px;font-size:12px;">需要帮助?</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" style="padding:0px;">
                        <div class="modal-center">
                            <div class="modal-c-top">
                                <div class="nodal-c-title" style="padding-bottom:8px;">
                                    <p class="text-left " style="width:40%">维修结果</p>
                                    @if (ViewBag.RepairDetail.FinishType == DoShineMP.Models.RepairFinishType.Fixed)
                                    {
                                        <p class="text-right pull-right" style="color:#59b759;width:56%;">已修复</p>
                                    }
                                    else if (ViewBag.RepairDetail.FinishType == DoShineMP.Models.RepairFinishType.Unfixed)
                                    {
                                        <p class="text-right pull-right" style="color:#59b759;">未修复</p>
                                    }
                                    else if (ViewBag.RepairDetail.FinishType == DoShineMP.Models.RepairFinishType.OutOfRange)
                                    {
                                        <p class="text-right pull-right" style="color:#59b759;">不属于维保范围</p>
                                    }
                                </div>
                                <ins class="smallbr"></ins>
                                <div class="modal-c-body">
                                    @if (ViewBag.RepairDetail.Describe != null && ViewBag.RepairDetail.Describe != "")
                                    {
                                        <p style="color:#898989;">@ViewBag.RepairDetail.Describe</p>
                                    }
                                    @if (ViewBag.RepairDetail.FinishImageFiles != null)
                                    {
                                        <div class="modal-c-body-img">
                                            @foreach (DoShineMP.Models.ImageFile i in ViewBag.RepairDetail.FinishImageFiles as List<DoShineMP.Models.ImageFile>)
                                            {
                                                <img src="@System.Configuration.ConfigurationManager.AppSettings["httpimgpath"]@i.FileName" class="imgyulan" style="height:80px;" />
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <ins class="smallbr"></ins>
                        <div class="modal-inpit">
                            <input type="text" placeholder="留言" id="getplay" style="width:100%;" />
                            <ins class="smallbr"></ins>
                        </div>
                        <div class="modal-bottom">
                            @*反馈评分选择*@
                            @if (ViewBag.RepairDetail.Status == DoShineMP.Models.RepairStatus.FinishHandle)
                            {
                                <!-- 反馈评分 -->
                                <div class="keep-content-t clearfix" style="padding:0;">
                                    <p class="text-center commiad" style="padding-top:25px; color:#a8a8a8;">请评价我们的服务</p>
                                    <div class="keep-textarea">
                                        <input id="input-21d" value="0" type="number" class="rating" min=0 max=5 step=1 data-size="sm">
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <div class="modal-footer" style="padding:0px; border:0; ">
                        <div class="col-xs-12 operate " readonly style="padding:0px; margin-top:-20px;">
                            <input type="button" class="commit pull-right" value="提交" id="btn" style="border-radius:0px 0px 5px 5px;line-height:55px;">
                        </div>
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}




<input type="hidden" value="@ViewBag.RepairDetail.RepairId" id="repairID" />
@section scripts{
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="~/Scripts/star-rating.js"></script>
    <script type="text/javascript">
        $('#input-21d').change(function () {
            $('.modal-inpit,.operate').slideDown();
            $('.commiad').text('ss');
            $('html, body, #myModal').animate({ scrollTop: $(document).height() }, 400);
            //$("#tv").animate({top:});
        })
    </script>
    <script type="text/javascript">
        var token;

        var images = {
            localId: [],
            serverId: []
        };
        $(function () {
            $('#modelimg').height($(window).height());
            $('#modelimg').width($(window).width());
            if ($('#input-21d').val() == 0) {
                $('.label').html('请先点击评分');
            }
            $.post('@Url.Action("WechatJsConfigJson","PhoneWeb")', { url: window.location.href }, function (data, status) {
                var debug = data.debug;
                var appId = data.appId;
                var timestamp = data.timestamp;
                var nonceStr = data.nonceStr;
                var signature = data.signature

                wx.config({
                    debug: debug,
                    appId: appId,
                    timestamp: timestamp,
                    nonceStr: nonceStr,
                    signature: signature,
                    jsApiList: [
                        'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'translateVoice',
                    'startRecord',
                    'stopRecord',
                    'onRecordEnd',
                    'playVoice',
                    'pauseVoice',
                    'stopVoice',
                    'uploadVoice',
                    'downloadVoice',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'openLocation',
                    'getLocation',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView',
                    'addCard',
                    'chooseCard',
                    'openCard'
                    ]
                });
            })
        })

        $(document).on('click', '.imgyulan', function () {
            var imgurl = $(this).attr('src');
            //alert(imgurl)
            wx.previewImage({
                current: imgurl,
                urls: [
                 imgurl
                ]
            });
        })




        jQuery(document).ready(function () {
            $(".rating-kv").rating();
            // alert($('#input-21d').val());
        });
        $('#btn').click(function () {
            $(this).attr('disabled', true);
            var repairID = $('#repairID').val();
            var response = $('#repaircontent').val();
            var score = $('#input-21d').val();
            var getplay = $('#getplay').val();

            if (score == 0) {
                $('.label').html('请先点击评分');
                $('.label').css('color', 'red');

                $(this).attr('disabled', false);
                return;
            }

            $.post('@Url.Action("RepairsponJson", "PhoneWeb")', { repairID: repairID, response: getplay, score: score }, function (data, status) {
                if (status === 'success') {
                    if (data.msg == 'Y') {
                        var windowlength = window.history.length;
                        if (windowlength == 1) {
                            alert(windowlength)
                            window.location.replace('@Url.Action("LatestRepair", "PhoneWeb")');
                            alert(windowlength);
                        } else {
                            window.localStorage['IndexLi1'] = new Number(window.localStorage['IndexLi1']) + 1;
                            window.history.go(-1);
                        }

                    }
                }
            })
        })


    </script>
}
