
@{
    ViewBag.Title = "诚邀加盟";
    Layout = "~/Views/Shared/_LayoutQiye.cshtml";
}
@section styles{
    <link href="~/Styles/rest.css" rel="stylesheet" />
    <link href="~/Styles/invite.css" rel="stylesheet" />

}
<div class="inviteWrap">
    <div class="inviteUp">
        <img src="~/Images/invite.png" alt="">
    </div>
    <div class="inviteDown">
        <div class="itme">
            <h2 class="itme-Title">我能提供的加盟资金</h2>
            <ul class="itme-select" id="moneyselect">
                <li>500~1000元</li>
                <li>2000~5000元</li>
                <li class="current">10000~30000元</li>
                <li>50000元以上</li>
            </ul>
        </div>
        <div class="itme-box">
            <dl class="itme">
                <dt>加盟区域<ins>*</ins></dt>
                <dd class="tips-select">
                    <select class="form-control" id="Districtid">
                        @if (ViewBag.AllDistrict != null)
                        {
                            foreach (DoShineMP.Models.District d in ViewBag.AllDistrict as List<DoShineMP.Models.District>)
                            {
                                <option value="@d.DistrictId">@d.Name</option>
                            }
                        }
                    </select>
                </dd>
            </dl>
            <dl class="itme">
                <dt><ins style="font-size:12px;">温馨提示：以下信息请填写真实有效信息，以便我们跟进处理。</ins></dt>
            </dl>
            <dl class="itme">
                <dt>姓名<ins>*</ins></dt>
                <dd>
                    <input type="text" placeholder="请输入您的姓名..." class="Name">
                </dd>
            </dl>
            <dl class="itme">
                <dt>手机号<ins>*</ins></dt>
                <dd>
                    <input type="text" placeholder="请输入您的手机号..." class="Tel">
                </dd>
            </dl>
            <dl class="itme">
                <dt>电子邮箱<ins>*</ins></dt>
                <dd>
                    <input type="text" placeholder="请输入您的邮箱..." class="Mail">
                </dd>
            </dl>
            <dl class="itme" style="overflow:hidden">
                <dt>相关资质<ins>*</ins></dt>
                <dd>
                    <p>人请上传本人真实身份证图片，企业单位上传有效期内营业执照并加盖公章。</p>
                    <div class="title-photo">
                        <div class="photo" id="add-phoneimg_photo">
                        </div>
                        <input placeholder="请输入图片标题或描述" class="Corr" id="title_text"></input>
                        <ins class="add-photo"><img src="~/Images/xiangji.png" alt="" id="add-phoneimg"></ins>
                    </div>
                </dd>
            </dl>
            <dl class="itme">
                <dt>通讯地址<ins>*</ins></dt>
                <dd>
                    <p>方便为您寄送资料</p>
                    <input type="text" placeholder="" class="Site">
                </dd>
            </dl>
            <dl class="itme">
                <dt>服务代表<ins>*</ins></dt>
                <dd class="tips-select2">
                    <select id="Val1" class="form-control">
                        @if (ViewBag.Salesman != null)
                        {
                            foreach (DoShineMP.Models.Salesman s in ViewBag.Salesman as List<DoShineMP.Models.Salesman>)
                            {
                                <option value="@s.SalesmanId">@s.Name</option>
                            }
                        }
                    </select>
                </dd>
            </dl>
            <dl class="itme">
                <dt>备注：</dt>
                <dd>
                    <textarea class="conmmit"></textarea>
                </dd>
            </dl>
            <dl>
                <dd><span class="submit-btn">提交</span></dd>
            </dl>
        </div>
    </div>
</div>

<input type="hidden" name="name" id="openid" value="@ViewBag.openid" />




@section scripts{
    <script src="~/Scripts/zepto.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">

        var token;

        var images = {
            localId: [],
            serverId: []
        };
        $(function () {
            $.post('@Url.Action("WechatJsConfigJson","PhoneWeb")', { url: window.location.href }, function (data, status) {
                var debug = data.debug;
                var appId = data.appId;
                var timestamp = data.timestamp;
                var nonceStr = data.nonceStr;
                var signature = data.signature;
                wx.config({
                    debug: debug,
                    appId: appId,
                    timestamp: timestamp,
                    nonceStr: nonceStr,
                    signature: signature,
                    jsApiList: [
                        'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'translateVoice',
                    'startRecord',
                    'stopRecord',
                    'onRecordEnd',
                    'playVoice',
                    'pauseVoice',
                    'stopVoice',
                    'uploadVoice',
                    'downloadVoice',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'openLocation',
                    'getLocation',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView',
                    'addCard',
                    'chooseCard',
                    'openCard'
                    ]
                });

            })
        })

        // 微信
        wx.error(function (res) {
            console.log('验证失败');
        });
        wx.ready(function () {
            // 5 图片接口
            // 5.1 拍照、本地选图
            var images = {
                localId: [],
                serverId: []
            };
            document.querySelector('#add-phoneimg').onclick = function () {
                var title_text = $('#title_text').val();
                if (title_text == null) {
                    alert('请输入标题!')
                    return;
                }
                wx.chooseImage({
                    count:1,
                    success: function (res) {
                        images.localId = res.localIds;
                        if (images.localId.length == 0) {
                            alert('请先使用 chooseImage 接口选择图片');
                            return;
                        }
                        var i = 0, length = 0;
                        images.serverId = [];
                        function upload() {
                            wx.uploadImage({
                                localId: images.localId[i],
                                success: function (res) {
                                    //alert('已上传：' + i + '张');
                                    images.serverId.push(res.serverId);
                                    var str = ' <span>'
                                            + '<p style="text-align:center;">' + title_text + '</p>'
                                            + '<img src="' + images.localId[0] + '" serverid="' + title_text + ':' + res.serverId + ';" alt="" class="imgyulan" >'
                                            + '</span>';
                                    $('#add-phoneimg_photo').append(str);
                                    $('#title_text').val('')
                                },
                                fail: function (res) {
                                    alert(JSON.stringify(res));
                                }
                            });
                        }
                        upload();

                    }
                });
            };

        });



        $('.itme-select li').click(function (e) {
            $(this).addClass('current').siblings().removeClass('current');

        })

        //  submit js
        var ytpe, code, Fund, Jion, Name, Tel, Mail, Corr, Site, Behaif, Commit, ImgSrc = [];

        $('.submit-btn').click(function () {

            code = $('#openid').val();

            //加盟资金
            Fund = $('.itme-select li.current').text();

            //加盟区域
            Jion = $('#Districtid').val();
            //名字
            Name = $('.Name').val();
            //手机号
            Tel = $('.Tel').val();
            //Mail
            Mail = $('.Mail').val();
            //相关资质
            Corr = $('.Corr').val();
            //地址
            Site = $('.Site').val();
            //服务代表
            Behaif = $('#Val1').val();
            //备注
            Commit = $('.conmmit').val();
            //相关资质图片路径
            ImgSrcLen = $('.photo').find('img');
            $.each(ImgSrcLen, function (i, item) {
                ImgSrc[i] = item.src
            })

            var Inputs = $('.itme dd').find('input');
            $.each(Inputs, function (i, item) {
                if (Inputs[i].value == '' || Inputs[i].value == null) {
                    document.body.scrollTop = item.offsetTop + 40;
                    console.log(document.body.scrollTop = item.offsetTop)
                }
            })

            type = 'Dealer';

            imgyulan = document.getElementsByClassName('imgyulan');
            var imgyulanstr = '';
            $.each(imgyulan, function (i, item) {
                imgyulanstr += item.getAttribute('serverid');

            })

            $.post('@Url.Action("ReginPartnerJson", "PhoneWeb")', { code: code, comName: '', type: type, realName: Name, Address: Site, comPhone: Tel, salesmanId: Behaif, email: Mail, files: imgyulanstr, discrictid: Jion, sextype: 'Man', money: Fund }, function (data, status) {
                if (status == 'success') {
                    if (data.msg == 'Y') {
                        window.location.replace("@Url.Action("Partner","PhoneWeb")");
                    }
                  
                }
            })
        })



        $(document).on('click', '.imgyulan', function () {
            var imgurl = $(this).attr('src');
            //alert(imgurl)
            wx.previewImage({
                current: imgurl,
                urls: [
                 imgurl
                ]
            });
        })



    </script>

}

