
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Styles/partner.css" rel="stylesheet" />
}


<!-- 用户信息  -->
<div class="Mymessage" id="MyMessage" style="padding-top:5px;padding-bottom:5px;">
    <div class="pull-left logo">
        <img src="@ViewBag.wuser.Headimgurl" class="img-circle" alt="Alternate Text" />
    </div>
    <div class="pull-left Mymessage-name">
        <p>@ViewBag.wuser.NickName</p>
        <span class="tel">
            @{
                string name = ViewBag.wuser.PartnerInfo.CompanyName;
                if (name.Length > 7)
                {
                    @(name.Substring(0, 7)+"...");
                }
                else
                {
                   @(name);
                }
            }
        </span>
        <div class="tel">
            <span>@ViewBag.wuser.UserInfo.PhoneNumber</span>
        </div>
    </div>
    <div class="pull-right andmi">
        <ins class="samil"></ins>
        <b>普通合作伙伴</b>
    </div>
</div>


<!-- 导航 -->
<div class="marginB Mymessage-list">
    <ul class="list-group">
        <li class="list-group-item marginB">
            <span class="Mymessage-icon1 icon"></span>
            <p>公司信息</p>
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
        @*<li class="list-group-item">
                <span class="Mymessage-icon2 icon"></span>
                <p>历史订单</p>
                <span class="glyphicon  glyphicon-menu-right pull-right"></span>
            </li>*@
        <li class="list-group-item">
            <span class="Mymessage-icon3 icon"></span>
            <p>我要留言</p>
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
        <li class="list-group-item">
            <span class="Mymessage-icon4 icon"></span>
            <p>优秀伙伴</p>
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
        <li class="list-group-item marginB">
            <span class="Mymessage-icon5 icon"></span>
            <p> 评级规则</p>
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
        <li class="list-group-item">
            <span class="Mymessage-icon6 icon"></span>
            <p>桑田地址</p>
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
        <li class="list-group-item">
            <span class="Mymessage-icon7 icon"></span>
            <p>公司介绍</p>
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
    </ul>
</div>

@section scripts{
    <script src="~/Scripts/partner.js"></script>
    <script src="~/Scripts/Commons.js"></script>
    <script type="text/javascript">
        $('.list-group-item').click(function () {
            switch ($(this).children().eq(0).attr("class")) {
                case 'Mymessage-icon1 icon': window.location.href = '@Url.Action("PersonalCenter","PhoneWeb")?type=update'; break;
                case 'Mymessage-icon3 icon': window.location.href = '@Url.Action("MessagePartent", "PhoneWeb")?'; break;
                case 'Mymessage-icon6 icon': window.location.href = 'http://mp.weixin.qq.com/s?__biz=MjM5MTI4MDAyMQ==&mid=420442559&idx=1&sn=fa4138a1f575852cc0860a844f34708d&scene=1&srcid=1222kq265t3bUfC5nqvM9BqC#wechat_redirect'; break;
                case 'Mymessage-icon7 icon': window.location.href = 'http://mp.weixin.qq.com/s?__biz=MjM5MTI4MDAyMQ==&mid=416121858&idx=1&sn=1a37a4e8295c88930e43eec998a2e904&scene=18#wechat_redirect'; break;
            }
        })

        $('#MyMessage').click(function () {
            window.location.href = '@Url.Action("PersonalCenter","PhoneWeb")?type=update';
        })
    </script>
}
